@page "/products/create"
@model ProductsWebDBApp.Pages.Products.CreateModel
@{
}

<form method="POST">
    <div class="row mb-3">
        <label for="title" class="col-md-1">Title</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="title" id="title" 
                    placeholder="Enter title" value="@Model.ProductInsertDTO!.Title" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="quantity" class="col-md-1">Quantity</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="quantity" id="quantity"
                   placeholder="Enter quantity" value="@Model.ProductInsertDTO!.Quantity" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-md-1">Price</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="price" id="price"
                   placeholder="Enter price" value="@Model.ProductInsertDTO!.Price" />
        </div>
    </div>

    <div>
        <div class="row mb-3">
            <div class="offset-md-1 col-md-3 d-grid">
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-md-1 col-md-3 d-grid">
                <a class="btn btn-outline-primary" href="/products/getall">Cancel</a>
            </div>
        </div>
    </div>

</form>

<div>
    @if (Model.ErrorArray!.Count != 0)
    {
        @foreach (var error in Model.ErrorArray)
        {
            <div>
                <p>@error.Message</p>
            </div>
        }
    }
</div>